# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Virtual environment
venv/
env/
.env

# Django static/media
staticfiles/
media/

# Logs
*.log

# Node / React
node_modules/
dist/
build/

# Vite
.vite/

# OS files
.DS_Store
Thumbs.db